<a href="/">
    <h1>LOGO</h1>
</a>

{% if request.user.is_authenticated %}
<form method="GET" action="{% url 'home' %}">
    <input type="text" name="q"  placeholder="Search Rooms...." />
</form>
{% else %}
{% endif %}


{% if request.user.is_authenticated %}

<p>Hello {{request.user}}</p>  <!--This is for User name show -->

<p>
<a href="{%url 'logout' %}">Logout</a>
{% else %}
<a href="{%url 'login'%}"> Login </a>
</p>
{% endif %}




{% if request.user.is_authenticated %}
<div class="textbox">
<form method="POST" action="">
    {%csrf_token%}

    <input type="text" name="topic_name" placeholder="Add Topic"/>

</form>
</div>
{% endif %}

{% if request.user.is_authenticated %}
<div class="textbox">
    <form method="POST" action="">
        {%csrf_token%}
    
        <input type="text" name="delete_topic" placeholder="Delete Topic"/>
    
    </form>
    </div>
    {% endif %}

<hr>